* {
    box-sizing: border-box;
}

/* Fonts */

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Class */
.accent-btn {
    color:#FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px ;
    padding: 12px 36px ;
}
.accent-btn:hover{
    background-color:#f1ee0e;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.center-container {
    max-width: 1440px;
    margin: 0 auto;
}


/* common color */
.header-logo {
    font-weight: 800;
    line-height: 150px;
    font-size: 34px;
}
.header-logo button{
    color:#FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px ;
    font-size: 16px;
}

body {
    background-color: #F5F8FF;
    font-family: "Raleway", sans-serif;
}

header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    
}
main section {
    margin-bottom: 137px;
}
/* nav styles */
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;

    
}
nav h3{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 34px;
    
}
nav button{
    font-size: 16px;
    font-weight: bold;
}



div{
    text-align: center;
    margin-top:158 ;
}

div h3{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
   
}

div button{
    font-size: 16px;
    font-weight: bold;
}

/* section style */

.Action{
 display: flex;
  justify-content: space-between;
  align-items: center;
    margin-top: 116px;
    
}

.action-box{
    width: 517px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.action-box h2{
      font-weight: 700;
  font-size: 42px;
  color: #252432;

}

.description{
    font-size: 24px;
  line-height: 30px;
  color: rgba(37, 36, 50, 0.5);
  margin: 0;
}


.sec-img{
    border-radius:48px;
    width:403px ;
    height: 328px;
}

.section-button{
    height: 48;
}

/* section2 */

.users {
  padding: 50px 142px;
  border-radius: 24px;
  background-color:rgba(78, 71, 255, 0.1);
}
.users h2 {
  color: #252432;
   text-align: center;
  font-size: 38px;
  font-weight: 700;
 
}

.counter {
  text-align: center;
}
.counter h2 {
    color: #4e47ff;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin: 0;
}
.counter p {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.user-box {
  display: flex;
  gap: 158px;
  justify-content: center;
}


/* section3 */
.testimonial-wrapper {
    display: flex;
    gap: 20px;
}

.testimonial-card {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #F2EDED;
    padding: 24px;
    /* width: 366px; */
    border-radius: 10px;
}

.testimonial-title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    color: #1E1E1E;
}

.testimonial-description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 140%;
    color: #1E1E1E;
}

.testimonial-section h2 {
    text-align: center;
    font-weight: 600;
    font-size: 42px;
    color: #252432;
}

.testimonial-stars {
    display: flex;
    gap: 4px;
}

.testimonial-user-info {
    display: flex;
    gap: 12px;
    align-items: flex;
}

.testimonial-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.testimonial-user-name {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #757575;
    font-weight: 600;
}

.testimonial-date {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #B3B3B3;
}

.testimonial-user-details p {
    margin: 0;
}


/* section4 */
.contact-section {
    height: 632px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-section h1 {
    font-size: 97px;
    line-height: 120%;
    font-weight: 700;
    width: 528px;
}

.contact-section form {
    width: 497px;
    gap: 19px;
}

.contact-section form label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
}

.contact-section form input,
.contact-section form textarea {
     border-radius: 10px;
      width:497px;
    padding: 20px 32px;
    margin-top: 10px;
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 150%;
    border: 1px solid #D6DDED;
}

.submit-button{
    font-size: 16px;
    width: 497px;
    font-weight: bold;
}


/* footer */
footer{
    background-color: #fff;
    height: 428px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

footer h1{
     font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #4E47FF;
    font-size: 100px;
    text-align: center;
    font-weight:900;
    margin: 0;
}

.footer-content {
    color: #8987A1;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    width: 531px;
    margin-bottom: 29px;

}

footer ul a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    color: #8987A1;
}
footer ul a:hover{
    color: #4E47FF;
}




footer ul{
    list-style: none;
    width: 401px;
    height:24px;
    display: flex;
    gap: 48px;
    padding-left: 0;
    
}
.footer-link{
    list-style: none;
    color:#8987A1;
    width: 45px;
    height:24px ;
}

